<nav class="sidebar" id="sidebar">
    <div class="logo">
        <img src="placeholder-logo.png" alt="Logo">
    </div>
    <ul class="nav-links">
        <li>
            <a href="dashboard.html">
                <i class="fas fa-home"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="projects-item">
            <a href="#" id="projectsDropdown">
                <span class="menu-item">
                    <i class="fas fa-project-diagram"></i>
                    <span>Projects</span>
                </span>
                <i class="fas fa-chevron-down dropdown-icon"></i>
            </a>
            <ul class="projects-submenu" id="projectsList">
                <!-- Projects will be dynamically added here -->
                <li><a href="#" class="add-project"><i class="fas fa-plus"></i> New Project</a></li>
            </ul>
        </li>
        <li>
            <a href="community.html">
                <i class="fas fa-users"></i>
                <span>Community</span>
            </a>
        </li>
        <li>
            <a href="profile.html">
                <i class="fas fa-user"></i>
                <span>Profile</span>
            </a>
        </li>
    </ul>
</nav>
